/* css영역 (스타일 바로 기입) */
h2 {color:red}

/* 1. 속성선택자--------------------------- */

/* div요소들 중 name속성값이 name1과 "일치"하는 요소 */
div[name=name1]{
    background-color: orangered;
}
/* div요소들 중 name속성값에 name1이 "포함"되어 있는 요소 (공백으로 기준, 한 단어로 제시) */
div[name~=name1]{
    background-color:yellow;
}
/* div요소들 중 class속성값이 class로 "시작"하는 요소 (-로 구분, 한 단어로 제시) */
div[class|=class]{
    background-color:cyan;
}
/* div요소들 중 name속성값이 na로 "시작"하는 요소 */
div[name^=na]{
    background-color:blue;
}
/* div요소들 중 class속성값이 ss로 "끝"나는 요소 */
div[class$=ss]{
    color:white;
}
/* div요소들 중 class속성값에 i가 "포함"되어 있는 요소 (일부 키워드만 제시 가능)*/
div[class*=i]{
    background-color:yellow;
    color:red;
}
/* 응용 */
.div-class[name~=name3]{
    background-color:pink;
}
/* 자손선택자와 후손선택자---------------------- */
/* a>b : a요소의 "자손들" 중에서 b요소만을 선택 */
/* #test1>*{background-color: pink} */

#test1>h4{
    background:orangered;
}
#test1>ul>li{
    background:darkcyan;
}
/* a b : a요소의 "후손(모든 하위 요소)들" 중에서 b요소만 선택 */
#test1 li{
    color:red;
}

/* 3. 동위 선택자---------------------------------------- */
#test2+*{background:yellow}
#test2+ul{background:pink} /*제대로 선택안됨 (바로 뒤에 있지 않기 때문)*/

/* #test2~div{background:green} */
#test2~ul{background:deeppink}

/* 4. 반응 선택자------------------------------- */
.area{
    background:yellowgreen;
    width:100px;
    height:100px;
    cursor:pointer;
}
#active-test:active{
    background:yellow;
    color:red;
}
/* 
#hover-test:hover{
    background:maroon;
    color:white;
} 
*/
#hover-test:hover>button{
    background:maroon;
    color:red;
}

/* 5. 상태 선택자-------------------------------- */
input[type=checkbox]:checked{
    width:20px;
    height:20px;
    /* font-size:20px; 제대로 반영안됨 => 현재 input뒤에 있는 label에 반영시켜야함*/
}
input[type=checkbox]:checked+label{
    font-size:20px;
}
input[name^=user]:focus{
    background:pink;
}
button:enabled{background: violet}
:disabled{background: yellowgreen}